.video-wrapper {
  position: relative;
  display: inline-block;
  border: 4px solid transparent;
  border-radius: 8px;
  transition: border-color 0.15s;

  &.highlight {
    border-color: limegreen; // зелёная рамка на мгновение
  }

  video {
    width: 100%;
    max-width: 520px;
    display: block;
    border-radius: 6px;
  }
}