.video-wrapper {
  position: relative;
  display: inline-block;
  border: 12px solid transparent; // увеличена толщина рамки
  border-radius: 16px; // увеличен радиус
  transition: border-color 0.15s;

  &.highlight {
    border-color: limegreen; // зелёная рамка на мгновение
  }

  video {
    width: 100%;
    max-width: 520px;
    display: block;
    border-radius: 10px;
  }
}